/*
Error: Invalid CSS after "...top-radius(6px)": expected "{", was ";"
        on line 29 of modal.scss

24:   .modal-content {
25: 
26:   }
27:   .modal-header {
28:     //background-color: $btn-default-bg;
29:     .border-top-radius(6px);
30:     overflow: hidden;
31:   }
32:   .modal-body {
33:     .form-group {
34:       > .input-group, > fieldset > .input-group {

Backtrace:
modal.scss:29
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/bin/scss:23:in `load'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/bin/scss:23:in `<main>'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `eval'
/Users/jinsebainian/.rvm/gems/ruby-2.3.0/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...top-radius(6px)\": expected \"{\", was \";\"\A         on line 29 of modal.scss\A \A 24:   .modal-content {\A 25: \A 26:   }\A 27:   .modal-header {\A 28:     //background-color: $btn-default-bg;\A 29:     .border-top-radius(6px);\A 30:     overflow: hidden;\A 31:   }\A 32:   .modal-body {\A 33:     .form-group {\A 34:       > .input-group, > fieldset > .input-group {"; }
